.desktop-1
{
position:absolute;
background-color:#ffffff;
height:1362px;
width:1915px;
padding:0px;
}
.header
{
height:129px;
width:1902px;
position:absolute;
top:0px;
left:0px;
}
.math-10260-greferath
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:50px;
font-family:Spartan;
line-height:auto;
border-style:hidden;
outline:none;
left:88px;
top:219px;
position:absolute;
width:706px;
}
.pleaseenteryourusernameandpasswordformath-10260-greferathbelow:
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Source Serif Pro;
left:88px;
top:345px;
width:642px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.username:
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Sen;
left:88px;
top:522px;
width:107px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.password:
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Sen;
left:88px;
top:653px;
width:86px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.sitinfo
{
height:276px;
width:694px;
left:1168px;
top:309px;
position:absolute;
}
.usernamebox
{
background-color:#ffffff;
height:37px;
width:262px;
filter:drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
border-radius:5px;
top:570px;
left:88px;
position:absolute;
}
.passwordbox
{
background-color:#ffffff;
height:37px;
width:262px;
filter:drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
border-radius:5px;
top:695px;
left:88px;
position:absolute;
}
.continuebox
{
background-color:#002588;
height:31px;
width:115px;
border-radius:5px;
top:784px;
left:88px;
position:absolute;
}
.continue2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Source Serif Pro;
left:112px;
top:788px;
width:66px;
height:17px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image2
{
height:86px;
width:599px;
left:658px;
top:1121px;
position:absolute;
}
